/* ======= Основы ======= */
body {
  background-color: #fafafa;
  font-family: 'Segoe UI', sans-serif;
  color: #2f2f2f;
}

a {
  transition: color 0.2s ease-in-out;
}

.custom-multiselect {
    min-width: 250px;
    background-color: #00b894;
}

#tags + .choices {
  min-width: 250px;
}


.custom-choices-width {
    min-width: 250px;
}



a:hover {
  color: #00b894;
}

/* ======= Navbar ======= */
.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  background-color: #fff;
}

.navbar-item .icon {
  color: #444;
  transition: 0.2s ease;
}

.navbar-item .icon:hover {
  color: #00b894;
}

.navbar-item:hover {
  background-color: #f1f1f1;
  border-radius: 6px;
}

#ton-connect-button {
    z-index: 9999;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
}

/* ======= Кнопки ======= */
.button.is-primary {
  background-color: #00b894;
  border-color: #00b894;
}

.button.is-primary:hover {
  background-color: #00a17a;
  border-color: #00a17a;
}

.button.is-dark:hover {
  background-color: #333 !important;
}

/* ======= Модальные окна ======= */
.modal-content {
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.modal-close {
  top: 1rem;
  right: 1rem;
}

/* ======= Футер ======= */
footer.footer {
  padding: 2rem 1.5rem;
  font-size: 0.875rem;
}

footer.footer .level-item a:hover {
  text-decoration: underline;
  color: #00b894 !important;
}

/* ======= Категории ======= */
.level a.link {
  font-weight: 600;
  font-size: 0.95rem;
  color: #4a4a4a;
  transition: 0.2s;
}

.level a.link:hover {
  color: #00b894;
  text-decoration: underline;
}

/* ======= Карточки товаров ======= */
.product-list-item .card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 10px;
  overflow: hidden;
}

.product-list-item .card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.card-content a {
  font-weight: 600;
  color: #363636;
}

.card-content a:hover {
  color: #00b894;
}

/* ======= Формы ======= */
.input:focus, .textarea:focus {
  border-color: #00b894;
  box-shadow: 0 0 0 0.125em rgba(0, 184, 148, 0.25);
}

/* ======= Уведомления ======= */
.notification.is-danger {
  background-color: #ff6b6b;
  color: white;
}
