{% extends "base.html" %}
{% block title %} Add Product {% endblock %}

{% block content %}

<!----------------  flashed messages and notifications  ---------------->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="notification is-danger">{{msg}}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<hr>

<!-------------------------  add product - form  ------------------------->
<section class="section">
    <div class="container">
        <h1 class="title">Добавить информацию о продукте</h1>

        <!----------------------  product title  ----------------------->
        <div class="box">
            <form action="{{ url_for('add_product') }}" method="post" enctype="multipart/form-data">
                <div class="field pb-2">
                    <label class="label">Title</label>
                    <div class="control">
                        <input id="title" class="input" type="text" placeholder="Hand-Painted Wall Tapestry" name="title" required>
                    </div>
                </div>

                <!------------  price quantity and tags  ------------>
                <div class="columns is-multiline">
                    <div class="column is-3">
                        <label class="label">Цена $TON</label>
                        <div class="control">
                            <input id="price" class="input" type="number" min="0.00" step="0.01" name="price" required>
                        </div>
                    </div>

                    <div class="column is-3">
                        <label class="label">Количество</label>
                        <div class="control">
                            <input id="qty" class="input" type="number" min="1" name="qty" required>
                        </div>
                    </div>

                    <div class="column is-4">
                        <label class="label">Выберите теги</label>
                        <div class="control">
                            <select id="tags" name="tags" multiple class="custom-multiselect">
                                {% for tag in all_tags %}
                                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>


                <!----------------  product description  ---------------->
                <div class="field">
                    <label class="label">Описание</label>
                    <div class="control">
                        <textarea id="description" class="textarea"
                            placeholder="This brightly colored tapestry is made of cotton and will brighten up your room" name="description"></textarea>
                    </div>
                </div>

                <!----------------  up to 5 image urls  ---------------->
                <div class="field">
                    <label class="label">Ссылка на картинку</label>
                    <div class="control">
                        <input id="image_1" class="input" type="file" placeholder="image url 1" name="image_1" accept="image/*">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="image_2" class="input" type="file" placeholder="image url 2" name="image_2" accept="image/*">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="image_3" class="input" type="file" placeholder="image url 3" name="image_3" accept="image/*">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="image_4" class="input" type="file" placeholder="image url 4" name="image_4" accept="image/*">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="image_5" class="input" type="file" placeholder="image url 5" name="image_5" accept="image/*">
                    </div>
                </div>

                <!---------------------  submit button  --------------------->
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-dark is-fullwidth is-medium" value="Add Product">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}