{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<!----------------  flashed messages and notifications  ---------------->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="notification is-success">{{msg}}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if "user" in session %}
{% else %}
<!----------------  hero image and categories  ---------------->
    <section class="hero is-warning">
        <div class="hero-body">
            <h1 class="title has-text-centered has-text-weight-light">
                Ищите то, что вам понравится. Поддерживайте независимых продавцов. Только на ellipsis.
            </h1>
            <h2 class="subtitle has-text-centered has-text-weight-semibold">Повседневные находки</h2>

            <nav class="level">
                <a class="level-item">
                    <figure class="image is-128x128">
                        <img width="128" height="128" class="is-rounded" src="{{ url_for('static', filename='images/beauty.jpg') }}">
                        <figcaption class="has-text-centered">Красота
                            <i class="fas fa-arrow-right"></i>
                        </figcaption>
                    </figure>
                </a>
                <a class="level-item">
                    <figure class="image is-128x128">
                        <img width="128" height="128" class="is-rounded" src="{{ url_for('static', filename='images/office.jpg') }}">
                        <figcaption class="has-text-centered">Офис
                            <i class="fas fa-arrow-right"></i>
                        </figcaption>
                    </figure>
                </a>
                <a class="level-item">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ url_for('static', filename='images/plant.jpg') }}">
                        <figcaption class="has-text-centered">Сад
                            <i class="fas fa-arrow-right"></i>
                        </figcaption>
                    </figure>
                </a>
                <a class="level-item">
                    <figure class="image is-128x128">
                        <img class="is-rounded"
                            src="https://images.unsplash.com/photo-1535157412991-2ef801c1748b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1100&q=80">
                        <figcaption class="has-text-centered">Техника
                            <i class="fas fa-arrow-right"></i>
                        </figcaption>
                    </figure>
                </a>
                <a class="level-item">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ url_for('static', filename='images/jewelry.jpg') }}">
                        <figcaption class="has-text-centered">Ювелирия
                            <i class="fas fa-arrow-right"></i>
                        </figcaption>
                    </figure>
                </a>
                <a class="level-item">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ url_for('static', filename='images/food.jpg') }}">
                        <figcaption class="has-text-centered">Кухня
                            <i class="fas fa-arrow-right"></i>
                        </figcaption>
                    </figure>
                </a>
            </nav>
        </div>
    </section>
{% endif %}

<!----------------  featured products  ---------------->
<section class="section">
    {% if products %}
        <h2 class="is-size-3 has-text-centered has-text-weight-semibold">Последние добавленные товары</h2>

        <br>

        <div class="columns is-multiline">
        {% for product in products %}
        <div class="column is-3 product-list-item">
            <div class="card" style="border-radius: 12px; overflow: hidden;">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <a href="{{ url_for('product_page', product_id=product.prod_id) }}">
                            <img src="{{ product.thumbnail }}" alt="product thumbnail">
                        </a>
                    </figure>
                </div>

                <div class="card-content p-3">
                    <!-- Название и цена -->
                    <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
                        <span class="has-text-weight-medium">{{ product.title }}</span>
                        <span class="has-text-weight-semibold">${{ product.price_in_cents / 100 }}</span>
                    </div>

                    <!-- Город и дата (можно удалить или заменить) -->

                    <p class="is-size-7 has-text-grey mb-2">
                        <br>Добавлено: {{product.date_added}}
                        <br>Продавец:
                        <a href="{{ url_for('user_page', username=product.vendor.username) }}">
                             {{ product.vendor.full_name or product.vendor.username }}
                        </a>
                        <br>Рейтинг продавца:
                        {{ (product.vendor.rating_total / product.vendor.rating_count)|round(1) if product.vendor.rating_count else 0 }} ({{ product.vendor.rating_count }})
                    </p>

                    <!-- Метки (по желанию) -->
                    <div class="tags are-small mb-3">
                        {% for tag in product.tags %}
                            <a href="{{ url_for('search_products_by_tag', tag=tag) }}" class="tag is-link is-light">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <!-- Кнопка -->
                    <a href="{{ url_for('product_page', product_id=product.prod_id) }}" class="button is-success is-fullwidth is-rounded">
                        Подробнее
                    </a>
                </div>  
            </div>
        </div>
        {% endfor %}

        </div>

    {% else %}
        <p class="has-text-centered">Продуктов пока нет в наличии...</p>
    {% endif %}
</section>
{% endblock %}