{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Оцените продавца {{ seller.full_name }}</h1>
    <form method="post">
      <div class="field">
        <label class="label">Рейтинг (1-5)</label>
        <div class="control">
          <input class="input" type="number" name="rating" min="1" max="5" required>
        </div>
      </div>
      <div class="field">
        <button class="button is-primary" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
